html,body {
    height: 100%;
    width: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mobile {
    width: 100%;
    height: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    padding: 45px 0px;
    position: relative;
}
.mobile_header {
    width: 100%;
    height: 45px;
    background-color: #006699;
    position: absolute;
    padding-left: 45px;
    padding-right: 45px;
    top: 0;
    left: 0;
}

.header_center {
    height: 100%;
    text-align: center;
    overflow: hidden;
}
.header_center h3 {
    line-height: 45px;
    margin: 0;
    color: #fff;
    font-size: 20px;
}
.header_left,
.header_right {
    width: 45px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    text-align: center;
    top: 0;
}
.header_left {
    left: 0;
}
.header_right {
    right: 0;
}
.header_left .icons,
.header_right .icons {
    color: #fff;
}
.mobile_main {
    height: 100%;
    width: 100%;
    position: relative;
}
.mobile_footer {
    width: 100%;
    height:45px;
    background-color: #006699;
    position: absolute;
    bottom: 0;
    left: 0;
}
.mobile_footer li {
    float: left;
    height: 100%;
    width: 25%;
}
.mobile_footer a {
    display: block;
    padding-top: 5px;
    text-align: center;
    color: #fff;
}
.mobile_footer li p {
    margin: 0;
    color: #fff;
}
.mobile_footer li.current a{
    color: orange;
}
.mobile_footer li.current p {
    color: orange;
}

/* 输入框 */
.It_header {
    padding: 10px;
    position: relative;
}
.It_header  input {
    height: 40px;
    padding: 10px;
    color: #666;
    margin: 0;
    font-size: 14px;
    border-radius: 5px ;
    border: 1px solid #006699;
}
.btnClick {
    position: absolute;
    top: 10px;
    height: 40px;
    display: block;
    background-color: #006699;
    right: 10px;
    border-radius:0 5px 5px 0;
    border: 1px solid #006699;
    
}

.main_sport {
    width: 100%;
    
}
.main_sport li {
    width: 48%;
    float: left;
    text-align: center;
    margin-right: 2%;
    padding: 10px;
    border: 1px solid #ccc;
}
.main_sport li  a {
    width: 100%;
    height: 100%;
    display: block;

}
.main_sport li img {
    width: 100%;
    display: block;

}
.main_sport li p {
    margin: 0;

}
.main_sport .price {
    color: red;
    font-size: 14px;
}
.main_sport .oldPrice {
    font-size: 14px;
    color: #ccc;
    text-decoration: line-through;
}